@import "reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$board-color: #bbb;
$board-padding: 15px;
$board-rounding: 5px;
$cell-size: 90px;
$cell-rounding: 3px;
$cell-color: #eee;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.board {
  @include rounded($board-rounding);
  background-color: $board-color;
  float: left;
  margin: $board-padding;
  padding: $board-padding;
}

.row:last-child {
  margin-bottom: 0;
}

.cell {
  @include rounded($cell-rounding);
  background-color: $cell-color;
  display: block;
  float: left;
  height: $cell-size;
  width: $cell-size;
  line-height: $cell-size;
  font-size: $cell-size - (4 * $board-padding);
  font-weight: bolder;
  color: darken($board-color, 30%);
  margin-right: $board-padding;
  text-align: center;
}

.cell:last-child {
  margin-right: 0;
}

.row {
  margin-bottom: $board-padding;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}
