@import "reset";

$board-padding: 10px;
$cell-size: 100px;

* {
  margin: 0;
  padding: 0;
}

.board {
  float: left;
  border: 1px solid black;
  margin: $board-padding;
  padding: $board-padding;
}

.row:last-child {
  margin-bottom: 0;
}

.cell {
  border: 1px solid black;
  display: block;
  float: left;
  height: $cell-size;
  width: $cell-size;
  line-height: $cell-size;
  margin-right: $board-padding;
  text-align: center;
}

.cell:last-child {
  margin-right: 0;
}

.row {
  margin-bottom: $board-padding;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}
